%li.invite
  .code= link_to h(invite.code), signup_path(:code => h(invite.code))
  .remove= link_to "&nbsp;", admin_invite_path(invite), :class => "remove_link ico_but"
  .comment= h(invite.comment) if invite.present?
