- title "Управление инвайтам"
- actions_for_admin
:javascript

  $(function() { invites(); });

- form_for @invite, :url => admin_invites_path do |form|
  %p
    = form.text_field :comment, :size => 30
    = form.submit "Создать инвайт"

%ul.without_dots= render :partial => 'invite', :collection => @invites
