log/*.log
tmp/**/*
.DS_Store
.directory
doc/api
doc/app
coverage
db/*.sqlite3
*.swp
*~
public/system
config/initializers/paperclip.rb
config/initializers/recaptcha.rb
config/initializers/hoptoad.rb
config/database.yml
config/deploy.rb
*.pyc
*.tokens
*Lexer.py
*Parser.py
dump/*
ext/Makefile
ext/*.o
ext/*.so
