log/*.log
tmp/**/*
.DS_Store
.directory
doc/api
doc/app
coverage
db/*.sqlite3
*.sw*
*~
public/system
vendor/gems
config/initializers/paperclip.rb
config/initializers/recaptcha.rb
config/database.yml
config/deploy.rb
*.pyc
*.tokens
*Lexer.py
*Parser.py
dump/*
