.comment_text
  %b= link_to_user( comment.user ) + ":"
  =h comment.comment
.comment_date
  = format_datetime comment.created_at
  = button_to "Удалить", comment_path(comment), :method => :delete if current_user.owns? comment
