-# нужна локальная переменная +commentable+: комментируемый объект
- comment = Comment.new :commentable_type => commentable.class, :commentable_id => commentable.id

- semantic_form_for comment do |f|
  - f.inputs do
    = f.input :comment, :label => false
    = f.input :commentable_type, :as => :hidden
    = f.input :commentable_id, :as => :hidden
  - f.buttons do
    = f.commit_button "Добавить комментарий"
      
