- title "Интересные комментарии"

- actions_for_comments

.comments
  - paginated_section @comments do
    = render :partial => 'comment', :collection => @comments, :locals => {:show_commentable => true}
