%h2 Список интересных комментариев

%p= link_to 'Перейти к списку всех комментариев', all_comments_path

.comments
  - paginated_section @comments do
    = render :partial => 'comment', :collection => @comments, :locals => {:show_commentable => true}
