- title "Рейтинг прошивок"

- actions_for_rating

- paginated_section @firmwares do
  %table.list
    %tr
      %th Место
      %th Прошивка
      %th Автор
      %th Очки
    = render :partial => 'firmware', :collection => @firmwares
