%h2 Рейтинг пользователей

%p= link_to 'Перейти к рейтингу прошивок', firmwares_rating_path

- paginated_section @users do
  %table.list
    %tr
      %th Место
      %th Пользователь
      %th Очки
    = render :partial => 'user', :collection => @users
