- title "Статистика"
- actions_for_admin

%ul
  %li
    = pl "Зарегистрирован%{,о,о} %? пользовател%{ь,я,ей}", @users_count
  %li
    = pl "Создан%{а,о,о} %? прошив%{ка,ки,ок}", @fws_count
  %li
    = pl "Проведен%{,о,о} %? матч%{,а,ей}", @matches_count
  %li
    = pl "Оставлен%{,о,о} %? комментар%{ий,ия,иев}", @comments_count
