%h2 В гостях у вебоботов

.tour
  %h3 Кто такие вебоботы?
  Вебоботы (<i>ве-ба-бó-ты</i>, от слов «веб» и «бот», то есть робот) — это забавные круглые роботы, которых ты видишь на эмблеме. Они выглядят мило, но пусть внешний вид не обманывает тебя: внутри каждого из них мощный электродвигатель, радар, и ракетомёт заряженный кучей разрывных снарядов. Эти машинки созданы только чтобы уничтожать друг друга!
  %h3 Немного жестоко, не так ли?
  Не стоит напрягаться по этому поводу — ведь это всего лишь игра, и твой вебобот умирает лишь понарошку, готовый в следующем матче вновь отстаивать твою честь!
  %h3 В игре я должен рулить этим кружочком и стрелять?
  Нет, иначе это были бы танчики на радиоуправлении, а не роботы — роботы выполняют свою задачу сами. Тебе предстоит более увлекательное занятие. Ты, конечно, знаешь, что роботы, к сожалению (а может быть, к счастью), не умеют мыслить и лишь выполняют заложенную в них программу, указывающую им, как реагировать на происходящее вокруг и что делать. Этим ты и займешься — будешь закладывать в них эту программу.
  %h3 Но этим занимаются программисты! Я не программист, я просто хочу поиграть...
  Не спеши огорчаться и уходить с сайта — писать программу для вебобота не так трудно, как может показаться на первый взгляд, и совсем не скучно. Сначала попробуй — когда ещё выдастся случай сделать собственного боевого робота? Дальше на этой странице подробно рассказано, что для этого нужно сделать, и куда нажать, чтобы стало весело. 
  %h3 С чего начать?
  Первым делом
  = link_to "зарегистрируйся", signup_path
  на нашем сайте. После этого ты сможешь
  = link_to "войти", login_path
  на сайт под своим именем, чтобы потом, когда ты будешь сохранять программы для вебобота или оставлять комментарии, было ясно, кто это делает.
  %h3 Сделано! Ну и где мой вебобот?
  Подожди, давай делать всё по-порядку. Вебоботы появляются на людях только на ринге, где они сражаются. Но пока в вебобота не прошита программа, он ничего не может делать, и будет беспомощно стоять под атакой противника. Ты ведь не хочешь этого? Тогда давай напишем первую программу для вебобота, для начала простенькую.
  %h3 Куда зайти, чтобы написать программу?
  Возможно, тебя смутило, что нигде на сайте нет слова "Программа". Это слово имеет слишком много смыслов, поэтому программы для наших вебоботов мы называем <i>прошивками</i> — компьютерщики любят пользоваться своим жаргоном... Так что смело нажимай на ссылку «Прошивки» вверху страницы, затем — «Создать».
