body {
  font: 14px Tahoma, Verdana, Arial, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  display: inline;
  margin-right: 30px;
}

a img {
  border: none;
}

header h1.logo {
  font-size: 2.5em;
  float: left;
  margin: 0px 30px 0px 10px;
}

header h1.logo a {
  text-decoration: none;
  color: black;
  background-color: white;
}

header h1.logo img {
  vertical-align: middle;
}

.nav {
  margin-top: 10px;
}

.account-panel {
  float: right;
}

textarea.code {
  font-family: monospace !important;
}

table.list {
  border-width: 2px;
  border-spacing: 0px;
  border-style: outset;
  border-collapse: collapse;
}

table.list td {
  border-width: 1px;
  border-style: inset;
  padding: 5px;
}

.list th {
  border-width: 2px 1px;
  border-style: inset;
  padding: 5px;
}

table.code_entity {
  border-color: #dddddd;
  border-width: 1px;
  border-spacing: 0px;
  border-style: outset;
  border-collapse: collapse;
  margin: 15px;
}

table.code_entity pre {
  margin: 0;
  padding: 0;
}

table.code_entity td {
  border-width: 1px;
  border-style: inset;
  border-color: #dddddd;
  padding: 5px;
}

table.code_entity td.line-numbers {
  background-color: #dddddd;
  color: #777777;
  text-align: right;
}

table.code_entity td.code {
  padding-left: 10px;
  min-width: 300px;
}

.pagination {
  margin: 10px 0px;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

#replay-canvas {
  float: left;
  margin: 5px 20px;
  width: 400px;
  height: 400px;
}

#replay-logger {
  height: 365px;
  overflow: auto;
}

.red-log-entry {
  color: #f00;
  font-family: monospace;
}

.blue-log-entry {
  color: #00f;
  font-family: monospace;
}

.welcome-text .epigraph {
  font-style: italic;
  margin-left: 50%;
}

.invite-code {
  font-family: monospace;
}
#new_user #user_code {
  font-family: monospace;
}

#recaptcha_widget_div {
  margin-left: 25%;
}

.comments {
  width: 500px;
}

/* override formtastic default big textarea */
.comments form.formtastic fieldset > ol > li.text textarea {
  width: 100%;
  height: 60px;
  border: solid 1px;
}

/* fix overflow of textarea with 100% width */
.comments form.formtastic fieldset > ol > li.text {
  padding-right: 2px;
}

/* override formtastic default button padding and alignment */
.comments form.formtastic fieldset.buttons {
  padding-left: 0;
  text-align: right;
}

/* helper for override formtastic default button padding and alignment */
.comments form.formtastic fieldset.buttons li {
  float: none
}

/* override strange formtastic button padding */
.comments form.formtastic fieldset.buttons li {
  padding-right: 0;
  margin-bottom: 0;
}

/* override formtastic default field margin */
.comments form.formtastic fieldset > ol > li.text {
  margin-bottom: 10px;
}

.comments h3 {
  margin-bottom: 5px;
}

.comment_avatar {
  float: left;
}

.comment_body {
  margin-left: 70px;
  width: 430px;
}

.comment_date {
  color: #888;
  float: right
}

.comment_text p {
  width: 430px;
  overflow: auto;
  margin-top: 5px;
}

.comment_author {
  font-weight: bold;
}

.comment_button {
  float: right;
  /*margin-left: 5px;*/
  margin-right: -19px;
}

.comment_header {
  border-bottom: solid 1px #aaa;
  margin-top: 20px;
  padding-bottom: 2px;
}

.comments .pagination {
  text-align: middle;
}

.profile_avatar p {
  font-size: 80%;
}

.avatar_tiny, .avatar_small, .avatar_medium, .avatar_big {
  vertical-align: middle;
}

.avatar_small, .avatar_medium, .avatar_big {
  margin: 5px;
  padding: 2px;
  border: 1px solid #aaa;
}

.vs_block .vs_left, .vs_block .vs_right {
  float: left;
  line-height: 35px;
}

.vs_block .vs_middle {
  float: left;
  margin: 0 20px;
  height: 70px;
  line-height: 70px;
}

.vs_block .avatar_medium {
  margin: 0 5px 0 0;
  float:left;
}

.ico_but {
  margin: 2px 2px -3px;
  height:16px;
  width:16px;
  display:block;
  text-decoration:none;
}
.ico_but:hover {
  background-color: transparent !important;
}

.comment_entity:hover .remove_link {
  background: url(/images/delete.png) no-repeat left center;
}

.tour, .tutorial {
  width: 700px;
  text-align: justify;
}

.tour h3, .tutorial h3 {
  color: #444466;
  margin-bottom: 8px;
  margin-top: 15px;
}

.illustration {
  text-align: center;
}

