body {
  font: 14px Tahoma, Verdana, Arial, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  display: inline;
  margin-right: 30px;
}

a img {
  border: none;
}

header h1.logo {
  font-size: 2.5em;
  float: left;
  margin: 0px 30px 0px 10px;
}

header h1.logo a {
  text-decoration: none;
  color: black;
  background-color: white;
}

header h1.logo img {
  vertical-align: middle;
}

.nav {
  margin-top: 10px;
}

.account-panel {
  float: right;
}

textarea.code {
  font-family: monospace !important;
}

table.list {
  border-width: 2px;
  border-spacing: 0px;
  border-style: outset;
  border-collapse: collapse;
}

.list td {
  border-width: 1px;
  border-style: inset;
  padding: 5px;
}

.list th {
  border-width: 2px 1px;
  border-style: inset;
  padding: 5px;
}

td.line-numbers {
  color: #aaaaaa;
}

.pagination {
  margin: 10px 0px;
}

.clear {
  clear: both;
}

#replay-canvas {
  float: left;
  margin: 5px 20px;
  width: 400px;
  height: 400px;
}

#replay-logger {
  height: 365px;
  overflow: auto;
}

.red-log-entry {
  color: #f00;
  font-family: monospace;
}

.blue-log-entry {
  color: #00f;
  font-family: monospace;
}

.welcome-text .epigraph {
  font-style: italic;
  margin-left: 50%;
}

.invite-code {
  font-family: monospace;
}
#new_user #user_code {
  font-family: monospace;
}

#recaptcha_widget_div {
  margin-left: 25%;
}
