<h1>Редактировать аккаунт</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Обновить" %>
<% end %>

<br /><%= link_to "Мой аккаунт", account_path %>
