- title %Q{Прошивки пользователя #{@user.login}}

- actions_for_user(@user, @has_firmwares)

- unless @fws.empty?
  - paginated_section @fws do
    %ul.firmwares= render @fws
- else
  %i Пользователь ещё не создал ни одной прошивки

