%h2 Добро пожаловать

.welcome-text
  %p.epigraph
    «Игра для программистов — компьютерная игра, в которой человек не участвует напрямую в игре. Вместо этого он пишет управляющую программу, сражающуюся с себе подобными программами». (Википедия).

  %p
    WeboBots — это веб-приложение реализующее многопользовательскую онлайн‑игру для программистов: битвы программируемых роботов.
  %p
    = link_to "И в чём прикол? »", tour_path
  %p
    = link_to "А что делать-то надо? »", tutorial_path
