%h2 В гостях у вебоботов

.tour
  %h3 Кто такие вебоботы?
  Вебоботы (<i>ве-ба-бó-ты</i>, от слов «веб» и «бот», то есть робот) — это забавные круглые роботы, которых ты видишь на эмблеме сайта и на картинке внизу. Они выглядят мило, но пусть внешний вид не обманывает тебя: внутри каждого из них мощный электродвигатель, радар, и ракетомёт заряженный кучей разрывных снарядов. Эти машинки созданы только для того, чтобы уничтожать друг друга!
  .illustration
    = image_tag "match_screen.png", :alt => 'Иллюстрация: матч'
  %h3 Немного жестоко, не так ли?
  Не стоит напрягаться по этому поводу — ведь это всего лишь игра, и твой вебобот умирает лишь понарошку, готовый в следующем матче вновь отстаивать твою честь!
  %h3 В игре я должен рулить этим кружочком и стрелять?
  Нет, иначе это были бы танчики на радиоуправлении, а не роботы — роботы выполняют свою задачу сами. Тебе предстоит более увлекательное занятие. Ты, конечно, знаешь, что роботы, к сожалению (а может быть, к счастью), не умеют мыслить и лишь выполняют заложенную в них программу, указывающую им, как реагировать на происходящее вокруг и что делать. Этим ты и займешься — будешь закладывать в них эту программу.
  %h3 Но этим занимаются программисты! Я не программист, я просто хочу поиграть...
  Не спеши огорчаться и уходить с сайта — писать программу для вебобота не так трудно, как может показаться на первый взгляд, и совсем не скучно. Сначала попробуй — когда ещё выдастся случай сделать собственного боевого робота? 
  %h3 Ладно, уговорили. Что дальше делать-то?
  Проходи
  = link_to "курс молодого бойца", tutorial_path
  и становись непобедимым! Всё в твоих руках!
