:markdown
  ## Документация по стандартным функциям и константам

  Во время исполнения прошивки можно взаимодействовать с внешним миром по средствам вызова стандартных функций. Эти функции на момент начала исполнения прошивки уже объявлены и доступны для вызова.

  Так же можно получать некоторую информацию об окружающем бота мире из предопределенных переменных («констант»).

  ### «Константы»
  Игровой мир, в котором происходят сражения ботов, обладает следующими параметрами:

  * <tt>FIELD_SIZE</tt>: поле имеет размеры 1000x1000 см2
  * углы отсчитываются в градусах от оси X к оси Y
  * единица времени — 1 с
  * единица скорости — 1 см/с
  * <tt>MAX_SPEED</tt>: ограничена максимальная скорость — 100 см/с.
  * <tt>MAX_HEALTH</tt>: здоровье бота изменяется от 0 до 100
  * <tt>ACCELERATION</tt> и <tt>DECELERATION</tt>: разгон и торможение происходят с фиксированными ускорениями
  * <tt>RATE_OF_FIRE</tt>: ограничена маскимальная скорострельность — 1.5 выстрела/с
  * <tt>MAX_SPEED_WHEN_ROTATION_POSSIBLE</tt>: поворот бота возможен на любой угол, если скорость меньше определенной, иначе поворот невозможен
  * <tt>MAX_LIFE_TIME</tt>: ограничено время существования "мира" — 60 с
  * <tt>BOT_RADIUS</tt>: бот — круг радиуса 30 см
  * <tt>MISSILE_SPEED</tt>: скорость ракеты 500 м/с
  * <tt>EXPLOSION_RADIUS</tt>: радиус взрыва ракеты 50 см
  * <tt>EXPLOSION_RADIUS</tt>: максимальный урон от ракеты 10 (при непосредственном столкновении), линейно падает до 0 (с увеличением расстояния от ракеты до окружности бота)

