%h2 Стандартные функции и константы

.docs
  Во время исполнения прошивки можно взаимодействовать с внешним миром посредством
  вызова стандартных функций и использования значения предопределенных переменных.

  %h3 Единицы измерения
  %ul
    %li углы отсчитываются в градусах от оси X к оси Y;
    %li единица времени — 1 с;
    %li единица расстояния — 1 см;
    %li единица скорости — 1 см/с.

  %h3 Предопределенные переменные
  Игровой мир, в котором происходят сражения ботов, обладает следующими параметрами:

  %ul
    %li <tt>FIELD_SIZE</tt>: поле имеет размеры 1000x1000 см;
    %li <tt>MAX_SPEED</tt>: ограничена максимальная скорость — 100 см/с;
    %li <tt>MAX_HEALTH</tt>: здоровье бота изменяется от 0 до 100;
    %li <tt>ACCELERATION</tt> и <tt>DECELERATION</tt>: разгон и торможение происходят с фиксированными ускорениями (15 см/с<sup>2</sup> и 30 см/с<sup>2</sup> соответственно);
    %li <tt>RATE_OF_FIRE</tt>: ограничена маскимальная скорострельность — 1.5 выстрела/с;
    %li <tt>MAX_SPEED_WHEN_ROTATION_POSSIBLE</tt>: поворот бота возможен на любой угол, если скорость меньше определенной (50 м/с), иначе поворот невозможен;
    %li <tt>MAX_LIFE_TIME</tt>: ограничена максимальная продолжительность матча — 60 с;
    %li <tt>BOT_RADIUS</tt>: бот является кругом радиуса 30 см;
    %li <tt>MISSILE_SPEED</tt>: скорость ракеты 200 м/с;
    %li <tt>EXPLOSION_RADIUS</tt>: радиус взрыва ракеты 50 см;
    %li <tt>MISSILE_DAMAGE</tt>: максимальный урон от ракеты 10 (при непосредственном столкновении), линейно падает до 0 с увеличением расстояния от ракеты до поверхности бота.

  Более того, не рекомендуется писать значения этих величин в коде, 
  так как они могут изменяться в новых версиях виртуальной машины.
  Вместо этого лучше использовать перечисленные переменные.
  = render :partial => 'firmwares/code', :locals => {:code => @samples[:constants]};

  %h3 Функции
  Далее приведен список всех предопределенных функций для взаимодействия с
  игровым миром. Эти функции на момент начала исполнения прошивки уже
  объявлены и доступны для вызова.

  %h4 posx()
  Возвращает координату X бота. Иллюстрация поясняет, как отсчитываются координаты
  .illustration
    = image_tag "coordinates.png", :alt => 'Иллюстрация: координаты'

  %h4 posy()
  Возвращает координату Y бота.

  %h4 angle()
  Возвращает направление движения бота.

  %h4 speed()
  Возвращает текущую скорость бота.

  %h4 desired_speed()
  Возвращает скорость, установленную функцией <tt>set_speed</tt>. Она может быть
  не равна текущей скорости, так как ускорение происходит не моментально.

  %h4 health()
  Возвращает здоровье бота.

  %h4 time()
  Возвращает время прошедшее с начала матча.

  %h4 rotate(angle)
  Устанавливает направление движения бота, если
  скорость допустима для поворота. Иллюстрация поясняет, как отсчитываются углы:
  .illustration
    = image_tag "angles.png", :alt => 'Иллюстрация: углы'

  Возвращает 1, если поворот возможен, 0 — иначе.

  %h4 set_speed(speed)
  Устанавливает скорость, до который бот начнет
  ускоряться или тормозить.

  Возвращает 1, если скорость не выходит за допустимые пределы,
  0 — иначе.

  %h4 sleep(time)
  Бот «засыпает» на <tt>time</tt> секунд: исполнение прошивки приостанавливается,
  при этом движение не прекращается.

  Возвращает <tt>time</tt>.

  %h4 enemy_posx()
  Возвращает координату X бота-врага.

  %h4 enemy_posy()
  Возвращает координату Y бота-врага.

  %h4 fire(angle, distance)
  Выпускает ракету в направлении угла <tt>angle</tt>,
  которая взрывается либо на расстоянии <tt>distance</tt>, либо
  от прямого столкновения с вражеским ботом.

  Возвращает 1, если выстрел прошел успешно,
  0, если выстрел невозможен из-за ограничения скорострельности.

  %h4 sin(angle)
  Вычисляет синус угла, данного в градусах.

  %h4 cos(angle)
  Вычисляет косинус угла, данного в градусах.

  %h4 atan2(y,x)
  Вычисляет арктангес <tt>y/x</tt>, то есть угол прямоугольного треугольника
  с катетами <tt>y</tt> и <tt>x</tt>.

  Результат лежит в <tt>-180..180</tt>.

  %h4 sqr(x)
  Вычисляет квадрат аргумента.

  %h4 sqrt(x)
  Вычисляет квадратный корень из аргумента.

  Необходимо проверять значение <tt>x</tt> перед вызовом функции: если оно
  отрицательно, это приведёт к ошибке исполнения.

  %h4 rand()
  Возвращает случайное число от 0 до 1.
