%h2 Проведение матча
%h3 Выбор прошивок

%p
- semantic_form_for @match, :url => matches_url( :enemy => (@enemy.id if @enemy) ) do |f|
  = f.semantic_errors
  - f.inputs do
    = f.input :first_version, :collection => @enemy_collection,
      :hint => @enemy_selection_hint
    = f.input :second_version, :collection => @friendly_collection,
      :hint => "одна из ваших прошивок"
  - f.buttons do
    = f.commit_button :choose
