%h2 Просмотр информации о матче

%h3
  = link_to_firmware_version @match.first_version
  VS
  = link_to_firmware_version @match.second_version

- unless @match.user.nil?
  %p
    %b
      Матч инициирован игроком
      = link_to_user @match.user

%p Во время проведения матча в одной из прошивок произошла ошибка, окончание матча невозможно
%ul
  %li=h @match.rt_error_msg
