- if can_see_code_of? fwv.firmware
  %hr
  %table
    %tr
      %td.line-numbers
        %pre= (1..fwv.code.lines.count).to_a * "\n"
      %td
        %pre= format_code( fwv.code )
- else
  %i Пользователь предпочел скрыть код этой прошивки
