%h2 Список ваших прошивок

%p= link_to "Перейти к списку всех прошивок", all_firmwares_path

%p= link_to "Создать", new_firmware_path

- unless @fws.empty?
  - paginated_section @fws do
    %ul= render @fws
- else
  %i Вы ещё не создали не одной прошивки
